<template>
    <div class="modal inmodal fade" id="add_product" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Add Product</h4>
                </div>
                <div class="modal-body">
                    <form action="" :class="['form-horizontal', {'has-error' : errors}]">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" v-model="name">
                                <p class="help-block" v-if="errors.name">
                                    {{ errors.name[0] }}
                                </p>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">DataPrep ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" v-model="dataPrepId">
                                <p class="help-block" v-if="errors.dataPrepId">
                                    {{ errors.dataPrepId[0] }}
                                </p>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="storeProduct">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add-product-modal",
        data: function () {
            return {
                name: '',
                prodVerticalUid: '',
                dataPrepId: '',
                errors: false
            }
        },
        created: function () {
            Event.$on('verticalChanged', (prodVerticalUid) => {
                this.prodVerticalUid = prodVerticalUid;
            });
        },
        methods: {
            storeProduct() {
                axios.post(`products`, {name: this.name, dataPrepId: this.dataPrepId, prodVerticalUid: this.prodVerticalUid})
                    .then(response => {
                        this.errors = false;
                        this.name = '';
                        this.dataPrepId = '';
                        $('#add_product').modal('hide');
                        Event.$emit('ProductAdded');
                    })
                    .catch(error => {
                        if (typeof error.response.data.errors !== 'undefined') {
                            this.errors = error.response.data.errors;
                            return false;
                        }

                        toastr.error(error.response.data);
                    })
            },
        },
    }
</script>