<template>
    <div class="modal inmodal fade" id="add_vertical" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Add Product Vertical</h4>
                </div>
                <div class="modal-body">
                    <form action="" :class="['form-horizontal', {'has-error' : errors}]">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Product Vertical</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" v-model="vertical">
                                <p class="help-block" v-if="errors.vertical">
                                    {{ errors.vertical[0] }}
                                </p>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="createVertical">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add-vertical-modal",
        data: function () {
            return {
                vertical: '',
                errors: false
            }
        },
        methods: {
            createVertical() {
                axios.post(`verticals`, {vertical: this.vertical,})
                    .then(response => {
                        this.errors = false;
                        this.vertical = '';
                        $('#add_vertical').modal('hide');
                        Event.$emit('verticalAdded');
                    })
                    .catch(error => {
                        if (typeof error.response.data.errors !== 'undefined') {
                            this.errors = error.response.data.errors;
                            return false;
                        }

                        toastr.error(error.response.data);
                    })
            },
        },
    }
</script>