<template>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <select class="form-control chosen-select verticals m-bottom-xs-10 m-bottom-sm-10 m-bottom-md-0" v-model="selectedVertical" @change="selectedProduct = ''">
                <option :value="key" v-for="(vertical, key) in verticals">
                    {{ vertical.name }}
                </option>
            </select>
        </div>

        <div class="col-md-6 col-lg-4">
            <select class="form-control chosen-select products" v-model="selectedProduct">
                <option value="">All Products</option>
                <option :value="key" v-for="(name, key) in verticals[selectedVertical].products">
                    {{ name }}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        name: "product-items",
        props: [
            'verticalsList',
            'currentVertical'
        ],
        data: function () {
            return {
                verticals: [],
                selectedVertical: '',
                selectedProduct: '',
            }
        },
        created() {
            this.verticals = JSON.parse(this.verticalsList);
            this.selectedVertical = this.currentVertical;
        }
    }
</script>