<template>
    <div class="input-group">
        <select class="form-control" name="prodVerticalUid">
            <option value="">Select Vertical</option>
            <option :value="uid" v-for="(vertical, uid) in verticals">{{ vertical}}</option>
        </select>
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_vertical">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </span>
    </div>
</template>

<script>
    export default {
        name: "verticals-list",
        data() {
            return {
                verticals: []
            }
        },
        created: function () {
            this.fetchVerticals();
        },
        methods: {
            fetchVerticals() {
                axios.get(`verticals`)
                    .then(response => {
                        this.verticals = response.data;
                    })
                    .catch(error => {
                        toastr.error(error.response.data);
                    })
            },
        },
    }
</script>