<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="product_management">
                <div class="ibox-title">
                    <h5>Visual Product Management</h5>
                </div>
                <div class="ibox-content">

                    <form method="post" action="" class="form-horizontal">

                        <div :class="['form-group', {'has-error' : errors && errors.prodVerticalUid}]">
                            <label class="col-sm-2 control-label">Product Vertical:</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select class="form-control" v-model="prodVerticalUid" @change="verticalChanged">
                                        <option value="">Select Vertical</option>
                                        <option :value="uid" v-for="(vertical, uid) in verticals">{{ vertical.name }}
                                        </option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#add_vertical">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                                <p class="help-block" v-if="errors && errors.prodVerticalUid">
                                    {{ errors.prodVerticalUid[0] }}
                                </p>
                            </div>
                        </div>

                        <div v-if="prodVerticalUid">

                            <div class="hr-line-dashed"></div>

                            <div :class="['form-group', {'has-error' : errors && errors['productWithPart.uid']}]">
                                <label class="col-sm-2 control-label" for="name">Product Name:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <select class="form-control" name="name" id="name" v-model="product.productWithPart.uid"
                                                @change="productChanged">
                                            <option value="">Select Product Name</option>
                                            <option :value="uid"
                                                    v-for="(product, uid) in verticals[prodVerticalUid].products">
                                                {{ product.name }}
                                            </option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#add_product">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <p class="help-block" v-if="errors && errors['productWithPart.uid']">
                                        {{ errors['productWithPart.uid'][0] }}
                                    </p>
                                </div>
                            </div>

                            <div v-if="product.productWithPart.uid">

                                <div class="hr-line-dashed"></div>

                                <div :class="['form-group', {'has-error' : errors && errors['productWithPart.dataPrepID']}]">
                                    <label class="col-sm-2 control-label">DataPrep ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" v-model="product.productWithPart.dataPrepID">
                                        <p class="help-block" v-if="errors && errors['productWithPart.dataPrepID']">
                                            {{ errors['productWithPart.dataPrepID'][0] }}
                                        </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div :class="['form-group', {'has-error' : errors && errors['productWithPart.part.name']}]">
                                    <label class="col-sm-2 control-label">Visual Part Name</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" v-model="copyNameField" @change="copyName"> Same as Product Name
                                            </span>
                                            <input type="text" class="form-control" v-model="product.productWithPart.part.name">
                                        </div>
                                        <p class="help-block" v-if="errors && errors['productWithPart.part.name']">
                                            {{ errors['productWithPart.part.name'][0] }}
                                        </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div :class="['form-group', {'has-error' : errors && errors['productWithPart.part.coID']}]">
                                    <label class="col-sm-2 control-label">Customer Order ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" v-model="product.productWithPart.part.coID">
                                        <p class="help-block" v-if="errors && errors['productWithPart.part.coID']">
                                            {{ errors['productWithPart.part.coID'][0] }}
                                        </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div :class="['form-group', {'has-error' : errors && errors['productWithPart.part.partID']}]">
                                    <label class="col-sm-2 control-label">Part ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" v-model="product.productWithPart.part.partID">
                                        <p class="help-block" v-if="errors && errors['productWithPart.part.partID']">
                                            {{ errors['productWithPart.part.partID'][0] }}
                                        </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div :class="['form-group', {'has-error' : errors && errors['productWithPart.part.unitPrice']}]">
                                    <label class="col-sm-2 control-label">Unit Price</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               v-model="product.productWithPart.part.unitPrice">
                                        <p class="help-block" v-if="errors && errors['productWithPart.part.unitPrice']">
                                            {{ errors['productWithPart.part.unitPrice'][0] }}
                                        </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div :class="['form-group', {'has-error' : errors && errors['productWithPart.part.jobCopy']}]">
                                    <label class="col-sm-2 control-label">Job Copy</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" v-model="product.productWithPart.part.jobCopy">
                                        <p class="help-block" v-if="errors && errors['productWithPart.part.jobCopy']">
                                            {{ errors['productWithPart.part.jobCopy'][0] }}
                                        </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div :class="['form-group', {'has-error' : errors && errors['productWithPart.part.engID']}]">
                                    <label class="col-sm-2 control-label">Eng Master ID</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <input type="checkbox" v-model="copyEngIDField" @change="copyEngID"> Same as Part ID
                                            </span>
                                            <input type="text" class="form-control"
                                                   v-model="product.productWithPart.part.engID">
                                        </div>
                                        <p class="help-block" v-if="errors && errors['productWithPart.part.engID']">
                                            {{ errors['productWithPart.part.engID'][0] }}
                                        </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div :class="['form-group', {'has-error' : errors && errors['productWithPart.part.engLotID']}]">
                                    <label class="col-sm-2 control-label">Eng Master Lot ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" v-model="product.productWithPart.part.engLotID">
                                        <p class="help-block" v-if="errors && errors['productWithPart.part.engLotID']">
                                            {{ errors['productWithPart.part.engLotID'][0] }}
                                        </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary btn-xs-block" type="button"
                                                @click="storeProductItem">Add
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <add-vertical-modal></add-vertical-modal>

                        <add-product-modal></add-product-modal>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import AddVerticalModal from './AddVerticalModal.vue';
    import AddProductModal from './AddProductModal.vue';

    export default {
        name: "visual-product-management",
        data() {
            return {
                errors: false,
                verticals: [],
                prodVerticalUid: '',
                product: {
                    productWithPart: {
                        part: {
                            uid: '',
                            name: '',
                            coID: '',
                            partID: '',
                            unitPrice: 0,
                            jobCopy: '',
                            engID: '',
                            engLotID: ''
                        },
                        uid: '',
                        name: '',
                        dataPrepID: ''
                    },
                },
                copyNameField: false,
                copyEngIDField: true,
            }
        },
        components: {
            AddVerticalModal,
            AddProductModal
        },
        created: function () {
            this.fetchVerticals();
            Event.$on('ProductAdded', this.fetchVerticals);
            Event.$on('verticalAdded', this.fetchVerticals);
        },
        watch: {
            partID(newID, oldID) {
                if (this.copyEngIDField) {
                    this.product.productWithPart.part.engID = newID;
                }
            }
        },
        computed: {
            partID() {
                return this.product.productWithPart.part.partID;
            }
        },
        methods: {
            fetchVerticals() {
                axios.get(`verticals`)
                    .then(response => {
                        this.verticals = response.data;
                    })
                    .catch(error => {
                        toastr.error(error.response.data);
                    })
            },
            verticalChanged() {
                this.product.productWithPart.uid = '';
                this.resetForm();
                Event.$emit('verticalChanged', this.prodVerticalUid);
            },
            productChanged() {
                this.product.productWithPart =  _.cloneDeep(this.verticals[this.prodVerticalUid].products[this.product.productWithPart.uid]);
            },
            copyName() {
                this.product.productWithPart.part.name = this.copyNameField ? this.product.productWithPart.name : '';
            },
            copyEngID() {
                this.product.productWithPart.part.engID = this.copyEngIDField ? this.product.productWithPart.part.partID : '';
            },
            storeProductItem() {
                axios.post(`management`, {
                    prodVerticalUid: this.prodVerticalUid,
                    productWithPart: this.product.productWithPart,
                })
                    .then(response => {
                        toastr.success(response.data);
                        this.verticals[this.prodVerticalUid].products[this.product.productWithPart.uid] = _.cloneDeep(this.product.productWithPart);
                        this.prodVerticalUid = '';
                        this.product.productWithPart.uid = '';
                        this.resetForm();
                    })
                    .catch(error => {
                        if (typeof error.response.data.errors !== 'undefined') {
                            this.errors = error.response.data.errors;
                            return false;
                        }

                        toastr.error(error.response.data);
                    })
            },
            resetForm() {
                this.product.productWithPart.name = '';
                this.product.productWithPart.dataPrepID = '';
                this.product.productWithPart.part.uid = '';
                this.product.productWithPart.part.name = '';
                this.product.productWithPart.part.coID = '';
                this.product.productWithPart.part.partID = '';
                this.product.productWithPart.part.unitPrice = 0;
                this.product.productWithPart.part.jobCopy = '';
                this.product.productWithPart.part.engID = '';
                this.product.productWithPart.part.engLotID = '';
                this.errors = false;
            }
        },
    }
</script>