/**
LOGO
 */
.customer-logo {
    padding-top: 20px;
}

.customer-logo img {
    height: 54px;
}

.logo {
    margin: 40px 20px 0;
}

body.mini-navbar .logo {
    transform: rotate(90deg);
    width: 120px;
    margin: 80px 0 0 -26px;
}

/**
TABLE
 */
.dataTables_wrapper {
    padding-bottom: 0;
}

.tooltip {
    position: fixed;
}

.table td {
    vertical-align: middle !important;
}

#table .table-info {
    margin: 25px 15px;
    float: left;
}

#table .pagination {
    margin: 20px 15px;
    float: right;
}

#table table.dataTable {
    margin: 0 !important;
}

@media screen and (max-width: 767px) {
    #table .table-info {
        margin: 20px 15px;
        float: none;
        text-align: center;

    }

    #table .table-responsive {
        margin: 0;
    }

    #table .pagination {
        float: none;
        margin: 0 auto 20px;
        display: table;
    }
}

/**
MENU
 */
@media (max-width: 768px) {
    .navbar-static-top .navbar-left {
        float: left !important;
    }

    .navbar-static-top .navbar-right {
        float: right !important;
    }
}

body {
    background-color: #192f5a;
}

.nav > li.active {
    background: #15284d;
    border-left: 4px solid #30ca9a;
}

.navbar-default .nav > li > a:focus, .navbar-default .nav > li > a:hover {
    background-color: #15284d;
}

ul.nav-second-level {
    background: #15284d;
}

.nav-header {
    background-color: #192f5a;
    background-image: none;
}

/**
BUTTONS
 */
@media (max-width: 767px) {
    .btn-xs-block {
        display: block;
        width: 100%;
    }

    input[type="submit"].btn-xs-block,
    input[type="reset"].btn-xs-block,
    input[type="button"].btn-xs-block {
        width: 100%;
    }

    .btn-block + .btn-xs-block,
    .btn-xs-block + .btn-block,
    .btn-xs-block + .btn-xs-block {
        margin-top: 0.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn-sm-block {
        display: block;
        width: 100%;
    }

    input[type="submit"].btn-sm-block,
    input[type="reset"].btn-sm-block,
    input[type="button"].btn-sm-block {
        width: 100%;
    }

    .btn-block + .btn-sm-block,
    .btn-sm-block + .btn-block,
    .btn-sm-block + .btn-sm-block {
        margin-top: 0.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .btn-md-block {
        display: block;
        width: 100%;
    }

    input[type="submit"].btn-md-block,
    input[type="reset"].btn-md-block,
    input[type="button"].btn-md-block {
        width: 100%;
    }

    .btn-block + .btn-md-block,
    .btn-md-block + .btn-block,
    .btn-md-block + .btn-md-block {
        margin-top: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .btn-lg-block {
        display: block;
        width: 100%;
    }

    input[type="submit"].btn-lg-block,
    input[type="reset"].btn-lg-block,
    input[type="button"].btn-lg-block {
        width: 100%;
    }

    .btn-block + .btn-lg-block,
    .btn-lg-block + .btn-block,
    .btn-lg-block + .btn-lg-block {
        margin-top: 0.5rem;
    }
}

/**
    CUSTOMER SELECT
 */
.select-customer {
    padding: 14px 0 16px;
    margin-left: 10px;
}

.select-customer select {
    height: 30px;
    padding: 0 !important;
    border-radius: 2px;
    border: 1px solid #e5e6e7;
}

.select-customer .chosen-container {
    padding: 0;
    height: 30px;
    min-width: 310px;
}

.chosen-container-active .chosen-choices {
    border-radius: 4px;
}

.select-customer .chosen-container-single .chosen-single {
    padding: 2px 12px;
}

.select-customer .chosen-container-single .chosen-single div b {
    background-position-y: 5px;
}

/**
OTHER
 */
.tabs-container .nav > li.active {
    border: none;
    background: transparent;
}

.clockpicker-popover {
    z-index: 10000;
}







