// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Font Awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";
// Toastr
@import "node_modules/toastr/toastr.scss";
@import "inspinia/variables";

$input-bg: #fff;
$input-border: $navy;

$chosen-background: $input-bg;
$chosen-border: 1px solid #e5e6e7;
$chosen-border-color: $input-border;
$chosen-border-radius: 1px;
$chosen-multi-border-radius: $chosen-border-radius;
$chosen-box-shadow: none;
$chosen-drop-border: $input-border;
$chosen-drop-box-shadow: none;
$chosen-focus-border: 1px solid $input-border;
$chosen-focus-box-shadow: none;
$gray: #555;
$link-color: $navy;

@import "node_modules/bootstrap-chosen/bootstrap-chosen.scss";
